@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Georgia", serif;
  
  --color-brand-olive: #5A5A40;
  --color-brand-cream: #F5F5F0;
  --color-brand-terracotta: #A67C52;
  --color-brand-ink: #2D2D2A;
}
